﻿{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<a href ="https://dic.academic.ru/dic.nsf/ruwiki/90017" target="_blank"> <img src="{% static 'app/content/kak2.png' %}" class="logo" alt="earth"/></a>
<a href ="https://zclub-caspian.ru/turizm-stati/gornyj-turizm-osobennosti-snaryazhenie-vidy-bezopasnost-foto-video/.html" target="_blank"> <img src="{% static 'app/content/kak.png' %}" class="logo" alt="earth"/></a>
<a href ="https://zclub-caspian.ru/turizm-stati/vodnyj-turizm-opisanievidyfotovideo/.html" target="_blank"> <img src="{% static 'app/content/kak1.png' %}" class="logo" alt="earth"/></a>
<   
<   
<   

{% endblock %}